<?xml version="1.0" encoding="utf-8"?>
<dashBoard>
  <section alias="DataProcessorDashboardSection">
    <areas>
      <area>content</area>
    </areas>
    <tab caption="Process Data">
      <access>
        <grant>administrator</grant>
      </access>
      <control>/Umbraco/Plugins/Rhythm.DataProcessor/DataProcessor.ascx</control>
    </tab>
  </section>
</dashBoard>